@font-face {
    font-family: mediumm;
    src: url(./Fonts/TT\ Firs\ Neue\ Trial\ Medium.ttf);
}
@font-face {
    font-family: regular;
    src: url(./Fonts/TT\ Firs\ Neue\ Trial\ Regular.ttf);
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
